* {
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #121212, #1e1e1e);
    color: #e0e0e0;
}

.main{
    width: 100%;
    display: flex; /* Cambia a flexbox para centrar el contenido */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.home-container {
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    margin: 70px;
    background: #222222;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: flex; /* Cambia a flexbox para centrar el contenido */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.home-container h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.home-container p{
    font-size: 1.2rem;
}

.content-section {
    margin-top: 20px;
}

.content-item {
    margin-bottom: 1.5rem;
}

.content-item h2 {
    font-size: 1.5rem;
    color: #ffffff;
}

.cta-section {
    margin-top: 20px;
}

.cta-link {
    margin: 0 10px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #0078d7;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-link:hover {
    background-color: #005bb5;
}

#logo img {
    height: 10em;
    border-radius: 10%;
    border: 1px solid #ffffff;
}

#logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

footer{
    width: 100%;
}