* {
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #121212, #1e1e1e);
    color: #e0e0e0;
}

/* General styling for the search page */
.search-page {
    padding: 20px;
    max-width: 800px;
    margin: 3em auto auto;
    margin-bottom: 70px;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Dark background for dark mode */
    color: #f8f8f8; /* Light text color */
    border-radius: 20px; /* Rounded corners for the container */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

/* Search bar styles */
.search-bar {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444; /* Dark border for the input */
    border-radius: 10px; /* Rounded corners for the input */
    background-color: #2c2c2c; /* Darker input background */
    color: #f8f8f8; /* Light text color */
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0078d7; /* color background for button */
    border: none; /* Remove default border */
    color: white; /* White text for the button */
    border-radius: 50px; /* Rounded corners for the button */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.search-button:hover {
    background-color: #005bb5; /* Darker color on hover */
}

/* Tag selection styles */
.tag-selection {
    margin-bottom: 20px;
}

.tag-options {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #444; /* Dark gray background for tags */
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.tag:hover {
    background-color: #555; /* Slightly lighter gray on hover */
}

/* components/tagSelector.css */

.tag.selected {
    background-color: #0078d7; /* Cambia a un color para indicar selección */
    color: white;
}


/* Filter options styles */
.filter-section {
    margin-bottom: 20px;
}

.filter-dropdown {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444; /* Dark border for dropdown */
    border-radius: 10px; /* Rounded corners for dropdown */
    background-color: #2c2c2c; /* Darker background for dropdown */
    color: #f8f8f8; /* Light text color */
}

/* Results section styles */
.results-section {
    margin-top: 20px;
}

.results-list {
    list-style: none;
    padding: 0;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #444; /* Divider between results */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.result-item:hover {
    background-color: #333; /* Darker background on hover */
}

.general-options a {
    display: inline-block;       /* Permite aplicar padding y otras propiedades como si fuera un botón */
    padding: 10px 20px;          /* Espaciado interno como en un botón */
    background: linear-gradient(135deg, #4a90e2, #9013fe);   /* Fondo azul */
    color: white;                /* Texto blanco */
    border-radius: 5px;          /* Bordes redondeados */
    text-decoration: none;       /* Elimina el subrayado predeterminado */
    font-weight: bold;           /* Resalta el texto */
    text-align: center;          /* Asegura que el texto esté centrado */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

.result-item a:hover {
    transform: scale(1.05);      /* Le da un pequeño efecto de "agrandado" */
}

.result-item a:active {
    transform: scale(0.98);      /* Efecto cuando se hace clic (pequeño encogimiento) */
}

/* Contenedor de las acciones del gestor */
.gestor-actions {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    margin-top: 8px; /* Espacio por encima de las acciones */
}

/* Estilo para el enlace de edición */
.gestor-actions .edit-link {
    color: #4CAF50; /* Verde para indicar edición */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.gestor-actions .edit-link:hover {
    background-color: #4CAF50;
    color: white;
}

/* Estilo para el enlace de borrado */
.gestor-actions .delete-link {
    color: #f44336; /* Rojo para indicar borrado */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #f44336;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.gestor-actions .delete-link:hover {
    background-color: #f44336;
    color: white;
}

.gestor-actions .create-content {
    color: #007BFF; /* Azul para indicar creación */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}

.gestor-actions .create-content:hover {
    background-color: #007BFF;
    color: white;
}
